<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClassList Example</title>
    <style>
        .highlight {
            background-color: yellow;
        }
        .myElement {
            position: relative;
            padding: 25px;
            margin-top: 25px;
            top: 15px;
        }
    </style>
</head>
<body>
    <button id="toggleButton">Toggle Highlight</button>
    <div id="myDiv">This is a div element.</div>
    <button id ="myElement" type="click">click here!</button>

    <script>
        const toggleButton = document.getElementById("toggleButton");
        const myDiv = document.getElementById("myDiv");

        toggleButton.addEventListener("click", function() {
            myDiv.classList.toggle("highlight");
        });
    document.getElementById("myElement").addEventListener("mouseover", function() {
    this.style.backgroundColor = "yellow";
    this.style.color = "red";
    this.style.fontSize = "20px";
    this.style.fontWeight = "bold";
    // this.style.padding = "100px";
    this.style.marginTop = "100px";
    this.style.marginLeft = "5px";
});
    document.getElementById("myElement").addEventListener("mouseout", function() {
    this.style.backgroundColor = "hotpink";
    this.style.color = "blue";
    this.style.fontSize = "20px";
    this.style.fontWeight = "bold";
    // this.style.padding = "100px";
    this.style.marginTop = "10px";
    this.style.marginLeft = "50px";
    this.style.transform = "rotate(360deg)";
    this.style.transformStyle = "preserve-3d";
});

    </script>
</body>
</html>
