{% extends "base.html" %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block css %}
<style>

.container{
  margin:230px;
  /* display: flex; */
}

</style>


{% endblock css %}

{% block content %} 

<div class="container ">
 
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
</div>

{% endblock %}
